In [326]:
import tabula
import os
import pandas as pd

In [374]:
pdf_files = []

for f in os.listdir("./statements/"):
    if not f.startswith('.'):
        pdf_files.append("statements/" + f)

In [ ]:
def restructure_colums(df, column):
    # split columns
    temp = tables[i][column].str.split(" ", expand=True)
    temp.fillna("", inplace=True)
    
    tables[i]['Date'] = temp[[0, 1]].apply(lambda x: ' '.join(temp), axis=1)
    tables[i]['Transaction'] = temp[[2:]].apply(lambda x: ' '.join(temp), axis=1)
    
    table[i].drop([column], axis=1, inplace=True)

In [174]:
def get_tables(file, pages="all", multiple_tables=True, debug=True):
    tables = tabula.read_pdf(file, 
                             multiple_tables=multiple_tables, 
                             pages=pages, 
                             silent=debug  # suppres stdoutput
                             )

    # drop unnamed columns
    for i in range(len(tables)):
        tables[i].fillna("", inplace=True)

        if 'Balance' in tables[i].iloc[0].tolist():
            # swap first row for headers, then drop
            tables[i].columns = [str(i) for i in tables[i].iloc[0]]
            tables[i] = tables[i].iloc[1:]

        # drop empty columns
        tables[i].drop(tables[i].filter(regex='Unnamed|nan').columns, axis=1, inplace=True)



    # join into one table
    frames = [f for f in tables if len(f.columns) == 5]
    table = pd.concat(frames)
    table.columns = [col.lower() for cols in table.columns]

    # clean up the rows
    # table.drop()
    
    
    return table

In [139]:
def get_sales(dataframe):
    df = dataframe.fillna('x')
    sales = df[(df["transaction"].str.contains("POS")) & (~df["amount"].str.contains("-"))]['amount'].tolist()
    sales = [float(i[1:]) for i in sales]
    
    return sales

In [319]:
test = 'statements/Statement20180331.pdf'
dfs = tabula.read_pdf(test, pages='all', multiple_tables=True, silent=True)

for df in dfs:
    print(df.columns.tolist())

['Date', 'Transaction', 'Debit', 'Unnamed: 0', 'Credit', 'Balance']
['Date Transaction', 'Unnamed: 0', 'Debit', 'Unnamed: 1', 'Credit', 'Balance']
['Unnamed: 0', 'Unnamed: 1', 'Account Number', '06 2915 10304816']
['Account Number06 2915 10304816', 'Unnamed: 0']

In [392]:

for i in range(len(dfs)):
    if 'Balance' in dfs[i].iloc[0].tolist():
        # swap first row for headers, then drop
        dfs[i].columns = [str(i) for i in dfs[i].iloc[0]]
        dfs[i] = dfs[i].iloc[1:]

    # drop empty columns
    dfs[i].drop(dfs[i].filter(regex='Unnamed|nan').columns, axis=1, inplace=True)

    # n = 2
    # groups = dfs[2]['Date Transaction'].str.split(" ", expand=True)
    # ' '.join(groups[:n]), ' '.join(groups[n:])

for df in dfs:
    print(df.columns.tolist())

x = dfs[2]['Debit Credit'].str.split(" ", expand=True)
x.fillna("", inplace=True)
# dfs[2]['Debit'] = x[[0, 1]].apply(lambda x: ' '.join(x), axis=1)
# dfs[2]['Credit'] = x[[2,3,4,5,6,7,8]].apply(lambda x: ' '.join(x), axis=1)
# dfs[2]
x[0]
# dfs[2]['Debit Credit']

['Date', 'Transaction', 'Debit', 'Credit', 'Balance']
['Date Transaction', 'Debit', 'Credit', 'Balance']
['Debit Credit', 'Balance', 'Date', 'Transaction']
['Account Number06 2915 10304816']

1      $118.50
2       $30.00
3      $213.00
4      $223.00
5      $129.00
6       $12.50
7      $267.00
8      $115.00
9      $331.00
10     $101.00
11     $209.00
12      $60.00
13     $138.00
14     $349.50
15
16
17    1,000.00
18      $27.00
19     $203.00
20
21
22      512.90
23      $89.50
24     $427.00
25     $380.50
26      $40.50
27
28
29      198.00
30
31
32      325.00
33      $25.00
34     $198.00
35     $115.00
36
37
38       85.00
39
40
41      308.00
42     $203.00
Name: 0, dtype: object